body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  /* weight: Use a value from 100 to 900 */
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-color: #71ccca;
  color: #001f3f;
}

a {
  text-decoration: none;
  color: #001f3f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}